.about {
    background-color: white;
    overflow: hidden;
}

.side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.small-image {
    width:30%;
    height:30%;
}