.home{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.background-circle{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
    float: right;
    border-radius: 50%;
    margin-top: 2rem;
}

.left{
    overflow: hidden;
}

.h1{
    font-size: 65px;
    margin-bottom:  10px;
    color: darkslateblue;
}

.h2{
    font-size: 40px;
}

.text{
    font-size: 30px;
    font-family: "Tahoma";
    font-weight: 500;
}

.image {
    width: 95%;
    border-radius: 50%;
}
