.skill-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.skill-main-container:hover{
    transform: scale(1.02);
}

.skill-logo{
    border-radius: 50%;
    height: 55%;
    width: 60%;
    background-color: darkcyan;
    margin-top: 2vh;
    overflow: hidden;
}

.skill-name-specific{
    margin-top: 15px;
    font-size: 22px;
    margin-bottom: 5px;
    color: darkslateblue;
}

.skill-description-specific{
    margin-top: 5px;
    margin-right: 5vh;
    margin-left: 5vh;
}