.workexperience {
    background-color: white;
    display:flex;
    flex-direction: column;
}

.workexperience-header{
    display:flex;
    justify-content: center;
    height: 5%;
    align-items: center;
    margin-bottom: 10px;
}

.title-text{
    color: darkslateblue;
}

.experience-container{
    height: 92%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
}
